.star {
  position: absolute;
  -webkit-transform: rotate(180deg) scale(0.5);
  -ms-transform: rotate(180deg) scale(0.5);
  transform: rotate(180deg) scale(0.5);
  opacity: 0.4;
  width: 0;
  height: 0;
  border-right: 26px solid transparent;
  border-bottom: 23px solid #F8B229;
  border-left: 23px solid transparent;
  display: none;
}

.star.show {
  display: block;
}

.star:before {
  border-bottom: 18px solid #F8B229;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -9px;
  left: -16px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}


.star:after {
  position: absolute;
  display: block;
  top: 2px;
  left: -26px;
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-bottom: 22px solid #F8B229;
  border-left: 27px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: '';
}


.star-1 {
  top: 30px;
  left:15px;
  -webkit-animation: star-crazyness 1s 0.125s ease infinite;
  animation: star-crazyness 1s 0.125s ease infinite;
}

.star-2 {
  top: 8px;
  right: 0;
  -webkit-animation: star-crazyness 1s 0.3s ease infinite;
  animation: star-crazyness 1s 0.3s ease infinite;
}


@-webkit-keyframes star-crazyness {
  0% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0px, 0) scale(0.6);
    transform: rotate(180deg) translate(0px, 0) scale(0.6);
  }
  25% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2);
    transform: rotate(180deg) translate(0, 0) scale(0.2);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: rotate(180deg) translate(5px, 5px) scale(0.4);
    transform: rotate(180deg) translate(5px, 5px) scale(0.4);
  }
  75% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(180deg) translate(5px, 0) scale(0.1);
    transform: rotate(180deg) translate(5px, 0) scale(0.1);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
}

@keyframes star-crazyness {
  0% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0px, 0) scale(0.6);
    transform: rotate(180deg) translate(0px, 0) scale(0.6);
  }
  25% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2);
    transform: rotate(180deg) translate(0, 0) scale(0.2);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: rotate(180deg) translate(5px, 5px) scale(0.4);
    transform: rotate(180deg) translate(5px, 5px) scale(0.4);
  }
  75% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(180deg) translate(5px, 0) scale(0.1);
    transform: rotate(180deg) translate(5px, 0) scale(0.1);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
}
