/* General */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul a {
  color: black;
  transition: color .2s linear;
}

ul a:hover {
  color: black;
  text-decoration: none;
}

.error {
  color: red;
}

.spinner {
  color: #989898b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.title-center {
  text-align: center;
}

.logout {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #989898b5;
  cursor: pointer;
  display: flex;
  z-index: 1;
}

/* Buttons */

button.button {
  background-color: #b0d5e4;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  transition: 0.2s linear;
}

button.button:active, button.button:hover, button.button.disabled, button.button:disabled  {
  background-color: #86ACBB!important;
}

button.button:focus, button.close-button:focus, button.outline-button:focus {
  box-shadow: none!important;
}

button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: inherit;
  border: 0;
  transition: transform 0.2s linear;
}

button.close-button:before, button.close-button:after {
  content: "";
  background-color: #333;
  height: 3px;
  color: #333;
  width: 100%;
  border-radius: 30%;
  position: absolute;
  top: 10px;
  right: 0;
}

button.close-button:before {
  transform: rotate(45deg);
}

button.close-button:after {
  transform: rotate(135deg);
}

button.close-button:active, button.close-button:hover {
  background-color: inherit!important;
  transform: scale(1.2);
}

button.outline-button {
  background-color: transparent;
  border-color: #86ACBB;
  color: #86ACBB;
  text-transform: uppercase;
  border-radius: 0;
}

button.outline-button:hover, button.outline-button:active, button.outline-button.active {
  background-color: #86ACBB!important;
  border-color: #86ACBB!important;
  color: #fff;
}

.buttons button:not(:last-child){
  margin-right: 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
}

/* Inputs */

input.form-control {
  outline: none;
  border-color: #ced4da;
  box-shadow: inherit;
}

input.form-control:focus {
  border: 1px solid #b0d5e4;
  box-shadow: 0 0 0 0.1rem #b0d5e4;
}

.form-check label:before {
  content: "";
  width: 18px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fcfff4;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
}

.form-check label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: calc(50% - 3px);
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: translateY(calc(-50% + 3px)) rotate(-45deg);
}

.form-check:hover label:after {
  opacity: 0.5;
}

.form-check input[type=checkbox] {
  width: 18px;
  top: 50%;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-50%);
}

.form-check input[type=checkbox]:checked + label:before {
  background: linear-gradient(to bottom, #ffffff 0%, #b0d5e4 100%);
}

.form-check input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* Modal window */

.modal .modal-body {
  padding: 50px 30px 30px;
}

/* Homepage containers */

.homepage {
  flex-direction: column;
  margin-top: 50px;
}

.homepage .container {
  min-height: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px 1px #f2f2f2;
  padding: 30px;
}

/* Enter rooms */

form.enter {
  width: 100%;
}

/* Rooms list */

.room--list ul{
  list-style: none;
  padding: 0;
}

.room--item {
  padding: 10px 10px 10px 0;
  transition: .1s;
  cursor: pointer;
  position: relative;
}

.room--item:hover .room--id{
  color: #86ACBB;
}

.room--id {
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: -13px;
  color: #b0d5e4;
  left: -15px;
  transition: color .2s linear;
}

.create-room {
  display: flex;
  flex-direction: column;
}

/* Player info */

.player-info {
  width: 100%;
  font-weight: bold;
  margin: 20px 0;
}

.player-info--name {
  margin: auto;
}

.player-info--number {
  font-weight: 900;
  color: #b0d5e4;
  font-size: 30px;
}

/* Tetris */

.room-name {
  padding: 15px 0;
  text-transform: uppercase;
}

.field {
  /*background-color: #e7f3f8;*/
  border: 1px solid transparent;
  width: fit-content;
}

.field > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.piece {
  border: 1px solid #989898b5;
  position: relative;
}

.aside-heading {
  font-weight: bold;
  color: #989898b5;
  text-transform: uppercase;
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-around;
}

.aside-content {
  text-align: center;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

.aside-content {
  margin-top: 5px;
  margin-bottom: 15px;
  flex-direction: column;
}

.aside-content .player-game-info {
  display: flex;
  width: 100%;
}

.aside-content .player-game-info > div {
  padding-top: 10px;
}

.aside-content .player-game-info > div:last-child:not(:first-child) {
  border-left: 1px solid #989898b5;
}

.aside-content .player-game-info {
  color: #86ACBB;
  font-size: 30px;
  font-weight: 900;
}

.aside-container .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.aside-container .buttons button {
  min-width: 100px;
}
.aside-container .buttons button:not(:last-child){
  margin-right: 10px;
}

.create-room .form-check{
  margin-top: 10px;
  padding: 10px 10px 10px 25px;
}
