body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5ecff6b!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage {
  flex-direction: column;
  margin-top: 50px;
}

.homepage .container {
  min-height: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 5px 13px #d5ecff6b;
  border-radius: 25% 10%;
  padding: 30px;
}

.homepage .close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  /*background-color: #6c757d85;*/
  top: 15px;
  right: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: fantasy;
}

.homepage .close-button:hover {
  background-color: #6c757dbf;
}

.homepage h1 {
  color: #989898b5!important;
}

button:not(:last-child) {
  margin-right: 5px;
}

.buttons {
  margin-top: 20px;
  display: flex;
}

.room-list {
  width: 80%;
}

.room-list ul{
  list-style: none;
  padding: 0;
}

.room-list ul a li {
  padding: 5px;
  transition: .1s;
  cursor: pointer;
}

.room-list ul a:hover {
  font-weight: bold;
}

.room-list ul a:hover {
  text-decoration: none;
}

.create-room {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.room-name {
  padding: 15px 0;
  /*display: flex;*/
  /*align-items: center;*/
}

/*.room-name button {*/
/*  margin-left: 10px;*/
/*}*/

.field {
  background-color: #d5ecff6b;
  border: 1px solid transparent;
  width: fit-content;
}

.field > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.piece {
  border: 1px solid #989898b5;
}

.aside-heading {
  font-weight: bold;
  color: #989898b5;
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-around;
}

.aside-content {
  text-align: center;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

.aside-content {
  margin-top: 5px;
  margin-bottom: 15px;
  flex-direction: column;
}

.aside-content .player-game-info {
  display: flex;
  width: 100%;
}

.aside-content .player-game-info > div {
  padding-top: 10px;
}

.aside-content .player-game-info > div:last-child:not(:first-child) {
  border-left: 1px solid #989898b5;
}

form.enter {
  width: 100%;
  padding: 0 30px;
}

.error {
  color: red;
}

.player-info {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.player-info div {
  margin: 5px 0;
}

.spinner {
  color: #989898b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.aside-container .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.aside-container .buttons button {
  min-width: 100px;
}
.aside-container .buttons button:not(:last-child){
  margin-right: 10px;
}

.title-center {
 text-align: center;
}

.form-control {
  outline: none!important;
  border-color: #ced4da!important;
  box-shadow: inherit!important;
}

.create-room .form-check{
  margin-top: 10px;
}

.logout {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #989898b5;
  cursor: pointer;
  display: flex;
  z-index: 1;
}
